@import url("themes/gruvbox.css");
@import url("variables.css");
@import url("fonts.css");

html {
  background-color: var(--bg);
  text-align: center;
}

body {
  font-family: redaction;
  font-size: 1em;
  color: var(--fg);
  word-wrap: break-word;
  margin: auto;
  min-width: 510px;
  max-width: 510px;
  max-height: 510px;
  min-height: 510px;
}

a {
  color: var(--fg);
}

h1,
h2,
h3,
h4,
ul,
p {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
