{{define "content"}}
<p>
  I'm a 19 year old artist, compsci enthusiast and music enjoyer from Australia
  and I made this website to share my projects and talk about my interests.
  Click <a href="/about">here</a> to read more about me.
</p>
<br />
<p>
  I also host some libre alternatives to popular websites, you can read more
  about that <a href="/services">here</a>.
</p>
<br />
<p>
  This site was originally written in PHP and has been recently rewritten in Go
  :) You can find the source code
  <a href="https://github.com/yazoink/website" target="_blank">here</a>.
</p>
<br />
<h2>FAQ</h2>
<p>
  <b
    >Did you know that this website looks old/is unoptimized for mobile/doesn't
    scale?</b
  >
</p>
<p>Yes, it's intentional. I like old web design and hate phones.</p>
<br />
<p><b>How does it load so fast?</b></p>
<p>
  All the images on this site are WebPs and larger images are thumbnailed. I
  also avoid Javascript as much as possible.
</p>
<br />
<p><b>How do you make the images on this site look like that?</b></p>
<p>
  I use <a href="https://www.gimp.org/downloads/" target="_blank">GIMP</a> to
  dither them. You can watch a tutorial on how to do it
  <a href="https://odysee.com/@yazoink:c/dither:9" target="_blank">here</a>. All
  of the images I dither are my artwork/photos.
</p>
<br />
<p><b>What distro/software do you use?</b></p>
<p>
  I use NixOS (btw). You can read a full overview
  <a href="/technology">here</a>.
</p>
{{end}}
